@model Product

<div class="card">
    <div class="card-body">

        <p>@ViewData["Param1"]</p>
        <p>@ViewData["Param2"]</p>

        <p>@Model.Id</p>
        <p>@Model.Name</p>

    </div>
</div>
